html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: darkgrey;
}

#header{
    background-color: black;
    width: 100%;
    height: 15%;
    border-bottom: solid white 2px;
    padding-bottom: 10px;
}


#header-image{
    max-height: 100%;
    max-width: 60%;
}

#signInButton{
    border: none;
    background-color: inherit;
    padding: 2px 2px 2px 2px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-family: fantasy;
    margin-left: 70%;
    margin-right: 2px;
}

#signUpButton{
    border: none;
    background-color: inherit;
    padding: 2px 2px 2px 2px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-family: fantasy;
    margin-left: 25px;
    margin-right: 2px;
}

#home{
    border: none;
    background-color: inherit;
    padding: 2px 2px 2px 2px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: white;
    font-family: fantasy;
    margin-left: 70%;
    margin-right: 2px;
}

body footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    border-top: solid white 2px;
    color: white;
    text-align: center;
}

#owner-tag{
    color: white;
    font-family: monospace;
    font-size: 0.8em;
    float:  right;
    margin-right: 20px;
}
/*keep all of the above*/

/*user sign in/up styling*/

.signInAndSignUpDiv{
    position: absolute;
    width: 350px;
    height: 120px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: darkgrey;

}
#userNameSi{
    display: block;
}
#userNameSu{
    display: block;
}
.label{
    display: block;
    margin-top: 10px;
}
.signInBox{
    cursor: pointer;
}
.signUpBox{
    cursor: pointer;
}



